<div class="col-12 col-md-6 col-lg-4">
  <div class="card border-dark mb-3">
    <div class="card-header movie-header p-0">
      <%= embed_youtube(movie.url) %>
    </div>
    <div class="card-body text-dark movie-body">
      <p>
        <object>
          <a class="btn btn-secondary btn-block">読破済みにする</a>
        </object>
      </p>
      <p class="card-text mt-3">Lv.<%= "#{movie_counter}".to_i + 1%>：<%= movie.title %></p>
    </div>
  </div>
</div>