<div class="card-box col-12 col-md-6 col-lg-4">
  <div class="card body-size border-dark mb-3">
    <div class="card-header p-0">
      <img class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" >
    </div>
    <div class="card-body text-dark">
      <div class="read-through-box mb-1">
        <a href="#" class="btn btn-block btn-secondary">読破済みにする</a>
      </div>
      <p class="card-title mt-3 mb-3"><%= text.title %></p>
      <p class="card-text">【<%= text.genre_i18n %>】</p>
    </div>
  </div>
</div>
